
html body {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../img/abstract-backdrop-background-board-129733.jpg");
}
section{
     display: flex;
}
.navLeft {
    background-color: rgb(124, 124, 124);
    color: white;
    width: auto;
    display: inline-block;
    height: 100%;
    margin-top: 0;
}
.navLeft ul {
    height: 35rem;
    margin-top: 0;
}
.divGallery {
   margin-bottom: 0;
   padding: 0;
}
 .imgGallery {
max-width: 25rem;
 height: 25rem;
 margin-bottom: 0;

  }

#gallery2 {
    display: none;
}
#gallery3 {
    display: none;
}
#gallery4 {
    display: none;
}
.imgGallery:hover {
    border: 1px solid #777;
    opacity: 0.5;
  }
.paginationUl {
    width: 15rem;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
   

}
.navPagination{
    width: 45rem;
    display: inline-block;
    margin-left: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5rem;

    
    
    
    
}

 
    