@mixin border{
    border: 2px solid grey;
    border-radius: 6px;
}

body{
    background-image: url("/assets/img/background-board.jpg");
    
}
section{
    display: flex;
}

.contLimits{
    padding:5vh 10vw 5vh 10vw;
}


.container{
    @include border;
    background-color: lightsalmon;
    text-align: center;
    width: 35vw;
    padding-bottom: 3.5vh;
    
}

[class*="lg-8"] {
    @include border;
    line-height: 40px;
    text-align: left;
    background-color: lightblue;
    margin-bottom: 1.5vh;
    padding-top: 1.75vh;
    padding-bottom: 1.75vh;
  }


button{
    @include border;
    background-color: lightcoral;
    margin-top: 2vh;
}