@mixin border{
    border: 2px solid #26272C;
    border-radius: 6px;
}

body{
    background-image: url("/assets/img/background-board.jpg");
    
}

.container{
    @include border;
    background-color: #78A6C8;
    opacity: 0.95;
    text-align: center;
    width: 35vw;
    padding-bottom: 3.5vh;
    
}


.btn{
    @include border;
    background-color: #787EC8;
    margin-top: 2vh;
}