
html body {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    background-image: url(../img/IMG_2265.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 20rem;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
.cover-container {
    max-width: 42em;
  }
  
// style navLeft

 
// style navLeft
// * Header
// */
.masthead {
 margin-bottom: 2rem;
}

.masthead-brand {
 margin-bottom: 0;
}

.nav-masthead .nav-link {
 padding: .25rem 0;
 font-weight: 700;
 color: rgba(255, 255, 255, .5);
 background-color: transparent;
 border-bottom: .25rem solid transparent;
}
.cover-heading{
   color: #ff0000;
   text-shadow: 2px 2px #000000;
   font-family: 'Cookie', cursive;
   font-size: 5.4rem;
   background-color: rgba(51, 51, 51, 0.5);
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
 border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
 margin-left: 1rem;
}

.nav-masthead .active {
 color: #fff;
 border-bottom-color: #fff;
}

@media (min-width: 48em) {
 .masthead-brand {
   float: left;
 }
 .nav-masthead {
   float: right;
 }
}


// style gallery
.divGallery {
   margin-bottom: 0;
   padding: 0;
   display: flex;
}
 .imgGallery {
margin-left: 0;
margin-right: 0;
 height: 20em;
 margin-bottom: 0;
 width: 20em;

  }

#gallery2 {
    display: none;
}
#gallery3 {
    display: none;
}
#gallery4 {
    display: none;
}
.imgGallery:hover {
    border: 1px solid #777;
    opacity: 0.5;
  }

// style gallery

// style Pagination
.paginationUl {
    margin-left: auto;
    margin-right: auto;
}
.navPagination{
    display: inline-block;
    margin-left: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5rem;    
}
// style Pagination

// style footer
.footer {
    background-color: rgb(230, 218, 218);
}

// style footer


    