body {
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url(/assets/images/abstract-backdrop-background-board-129733.jpg);
}

nav {
    background-color: rgb(124, 124, 124);
    color: white;
    width: auto;
}

.container {
    border: 1px solid red;
    margin: 0;
    padding: 0;
    position: relative;
    .jumbotron {
        background: url("/assets/images/restaurant.jpg") no-repeat center center;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%;
        width: 100%;
        height: auto;
    }
    .img {
        width: 100%;
        height: auto;
    }
    .btn1 {
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: rgb(124, 124, 124);
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-decoration: none;
    }
    .btn1:hover {
        background-color: black;
    }
    .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: rgb(124, 124, 124);
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-decoration: none;
    }
    .btn:hover {
        background-color: black;
    }
}
