@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  background-image: url("../images/abstract-backdrop-background-board-129733.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
.cover-container {
  max-width: 42em;
}

/*
 * Header
 */
 .masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}
.cover-heading{
    color: #ff0000;
    text-shadow: 2px 2px #000000;
    font-family: 'Cookie', cursive;
    font-size: 5.4rem;
    background-color: rgba(51, 51, 51, 0.5);
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


.container {
  /*border: 1px solid red;*/
  margin-top: 100px;
  margin-bottom: 100px;
  /*.ml-3 {
        margin-left: ($spacer * 0.25) !important;
    }
    .mt-4 {
        margin-left: ($spacer * 0.25) !important;
    }*/
}

.container .jumbotron {
  background: url("../images/presentation.jpg") no-repeat center center;
  position: relative;
  background-size: cover;
  height: auto;
  color: white;
}

.container h1 {
  font-family: "cookie", cursive;
}

.container img {
  max-width: 100%;
}

.container .btn1 {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #7c7c7c;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.container .btn1:hover {
  background-color: black;
}

.container .btn {
  position: relative;
  top: -50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #7c7c7c;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.container .btn:hover {
  background-color: black;
}

.container .reservation {
  text-align: center;
  color: black;
}

.container table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
}

.container tbody {
  vertical-align: middle;
}

.container tr {
  display: table-row;
  vertical-align: inherit;
}

.container td {
  padding: 15px 12px 0 0;
}

@media only screen and (max-width: 320px) {
  .container {
    font-size: 2.2em;
  }
}

@media (max-width: 768px) {
  .container {
    font-size: 2em;
  }
}
/*# sourceMappingURL=style_welcome.css.map */